#sin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 20px 24px;
    background-color: #159A9C ;
    border-radius: 50px;
    margin: 50px;
    margin-bottom: 30px;
}
.yal{
    padding:100px;
    background-color: #FFFFFF;
    font-size: xx-large;
    border-radius: 20px ;
}